<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>JS Bin</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <style>
    .footer-list-item {
      list-style-type: none;
    }

    .footer-list-item:not(:first-child) {
      margin-left: 20px;
    }

    .footer-list {
      padding: 20px 0;
      text-align: center;
      display: flex;
      justify-content: center;
    }

    .footer p {
      margin-top: 10px;
      text-align: center;
    }
  </style>
</head>
<body>
  <div class="footer">
    <div class="pt-4 my-4 text-muted border-top">
      <ul class="footer-list">
        <li class="footer-list-item"><a href="mailto:epoch1026&#64;kaist&#46;ac&#46;kr" class="fs-5"><i class="fa-regular fa-envelope"></i></a></li>
        <li class="footer-list-item"><a href="www&#46;linkedin&#46;com/in/ynghyn-na" class="fs-5"><i class="fab fa-orcid"></i></a></li>
      </ul>
      <p><small>Last updated on August 18, 2025.<br><br>Copyright &copy; <script>document.write(new Date().getFullYear());</script> YeongHyeon Na. All rights reserved.</small></p>
    </div>
  </div>
</body>
</html>
