/* CSS for the fixed sidebar */
#sidebar {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0;
  padding-top: 1rem;
  margin-left: 1rem;
}

#sidebar .nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #000;
  text-decoration: none;
}

#sidebar .nav-link:hover {
  background-color: #f8f9fa;
  color: #007bff;
}
