---
layout: default
---

{{ content }}

<div class="row g-5 mb-5">
  <div>
    
    <h3 class="fw-bold border-bottom pb-3 mb-5">Coursework</h3>

    <p class="mb-4 text-end">
      <a href="/coursework-field" style="color: #E77500 !important; text-decoration: none;">
        <strong>View by Field →</strong>
      </a>
    </p>

    {% for term in site.data.cw.terms %}
      {% assign courses_in_term = site.data.cw.coursework | where: "term", term.id %}
      
      {% if courses_in_term.size > 0 %}
        <div class="mb-5 row gx-5">
          <div class="col-12">
            <h4 class="border-bottom mb-4">{{ term.title }}</h4>
            {% if term.description %}
              <p class="text-muted">{{ term.description }}</p>
            {% endif %}
            
            <div class="ps-md-4">
              {% assign sorted_courses = courses_in_term | sort: "num" %}
              {% for course in sorted_courses %}
                
                {% assign matched_field = site.data.cw.fields | where: "id", course.field | first %}
                
                <p class="fw-bold mb-2">{{ course.title }}</p>
                <p class="mb-4">
                  {% assign printed = false %}

                  {% if course.grade %}
                    {{ course.grade }}
                    {% assign printed = true %}
                  {% endif %}

                  {% if course.credits %}
                    {% if printed %} • {% endif %}{{ course.credits }} credits
                    {% assign printed = true %}
                  {% endif %}

                  {% if course.topic and course.topic != "" %}
                    {% if printed %} • {% endif %}{{ course.topic }}
                    {% assign printed = true %}
                  {% elsif matched_field %}
                    {% if printed %} • {% endif %}{{ matched_field.title }}
                    {% assign printed = true %}
                  {% endif %}

                  {% if course.professor and course.professor != "" %}
                    {% if printed %} • {% endif %}{{ course.professor }}
                  {% endif %}
                  <br>

                  {% if course.textbook and course.textbook != "" %}
                    <small class="d-flex">
                      <span class="me-2">Textbook/Reference:</span>
                      <span class="d-block">
                        {% assign books = course.textbook | split: "<br>" %}
                        {% for book in books %}
                          {{ book }}<br>
                        {% endfor %}
                      </span>
                    </small>
                  {% endif %}

                  {% if course.note and course.note != "" %}
                    <small class="text-muted">{{ course.note }}</small>
                  {% endif %}
                </p>
              {% endfor %}
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}

  </div>
</div>
