---
layout: default
---

{{ content }}

<div class="row g-5 mb-5">
  <div>
    
    <h3 class="fw-bold border-bottom pb-3 mb-5">Coursework in Mathematics</h3>

    <p class="mb-4 text-end">
      <a href="/coursework-term" style="color: #1487C8 !important; text-decoration: none;">
        <strong>View by Term →</strong>
      </a>
    </p>
    
    <div class="mb-5 row gx-5">
      <div class="col-12">
        <h4 class="border-bottom mb-4">Algebra and Number Theory</h4>
        <div class="ps-md-4">
          {% for section in site.data.coursework-field.1-algebra %}
            <p class="fw-bold mb-2">{{ section.title }}</p>
            <p class="mb-4">
              {{ section.description }}<br>
              <small>Textbook: {{ section.textbook }}</small>
            </p>
          {% endfor %}
        </div>
      </div>
    </div>

    {% comment %}
    <div class="mb-5 row gx-5">
      <div class="col-12">
        <h4 class="border-bottom mb-4">Geometry and Topology</h4>
        <div class="ps-md-4">
          {% for section in site.data.coursework-field.2-geometry %}
            <p class="fw-bold mb-2">{{ section.title }}</p>
            <p class="mb-4">
              {{ section.description }}<br>
              <small>Textbook: {{ section.textbook }}</small>
            </p>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endcomment %}
    
    <div class="mb-5 row gx-5">
      <div class="col-12">
        <h4 class="border-bottom mb-4">Analysis</h4>
        <div class="ps-md-4">
          {% for section in site.data.coursework-field.4-analysis %}
            <p class="fw-bold mb-2">{{ section.title }}</p>
            <p class="mb-4">
              {{ section.description }}<br>
              <small>Textbook: {{ section.textbook }}</small>
            </p>
          {% endfor %}
        </div>
      </div>
    </div>

    {% comment %}
    <div class="mb-5 row gx-5">
      <div class="col-12">
        <h4 class="border-bottom mb-4">Probability and Statistics</h4>
        <div class="ps-md-4">
          {% for section in site.data.coursework-field.5-probability %}
            <p class="fw-bold mb-2">{{ section.title }}</p>
            <p class="mb-4">
              {{ section.description }}<br>
              <small>Textbook: {{ section.textbook }}</small>
            </p>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endcomment %}

    {% comment %}
    <div class="mb-5 row gx-5">
      <div class="col-12">
        <h4 class="border-bottom mb-4">Discrete Mathematics</h4>
        <div class="ps-md-4">
          {% for section in site.data.coursework-field.7-discrete %}
            <p class="fw-bold mb-2">{{ section.title }}</p>
            <p class="mb-4">
              {{ section.description }}<br>
              <small>Textbook: {{ section.textbook }}</small>
            </p>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endcomment %}

    {% comment %}
    <div class="mb-5 row gx-5">
      <div class="col-12">
        <h4 class="border-bottom mb-4">Other Mathematics</h4>
        <div class="ps-md-4">
          {% for section in site.data.coursework-field.8-other %}
            <p class="fw-bold mb-2">{{ section.title }}</p>
            <p class="mb-4">
              {{ section.description }}<br>
              <small>Textbook: {{ section.textbook }}</small>
            </p>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endcomment %}
    
    <div class="mb-5 row gx-5">
      <div class="col-12">
        <h4 class="border-bottom mb-4">Foundation</h4>
        <div class="ps-md-4">
          {% for section in site.data.coursework-field.9-basic %}
            <p class="fw-bold mb-2">{{ section.title }}</p>
            <p class="mb-4">
              {{ section.description }}<br>
              <small>Textbook: {{ section.textbook }}</small>
            </p>
          {% endfor %}
        </div>
      </div>
    </div>
    
  </div>
</div>
