---
layout: default
---

{{ content }}

<div class="row g-5 mb-5">
  <div>
    
    <h3 class="fw-bold border-bottom pb-3 mb-5">Coursework by Field</h3>

    <p class="mb-4 text-end">
      <a href="/coursework-term" style="color: #E77500 !important; text-decoration: none;">
        <strong>View by Term →</strong>
      </a>
    </p>
    
    {% for field in site.data.cw.fields %}
      {% assign courses_in_field = site.data.cw.coursework | where: "field", field.id %}
      
      {% if courses_in_field.size > 0 %}
        <div class="mb-5 row gx-5">
          <div class="col-12">
            <h4 class="border-bottom mb-4">{{ field.title }}</h4>
            {% if field.description %}
              <p class="text-muted">{{ field.description }}</p>
            {% endif %}
            
            <div class="ps-md-4">
              {% assign sorted_courses = courses_in_field | sort: "num" %}
              {% for course in sorted_courses %}
                
                {% assign matched_term = site.data.cw.terms | where: "id", course.term | first %}
                
                <p class="fw-bold mb-2">{{ course.title }}</p>
                <p class="mb-4">
  {% assign printed = false %}

  {% if course.grade %}
    {{ course.grade }}
    {% assign printed = true %}
  {% endif %}

  {% if course.credits %}
    {% if printed %} • {% endif %}{{ course.credits }} credits
    {% assign printed = true %}
  {% endif %}

  {% if matched_term %}
    {% if printed %} • {% endif %}{{ matched_term.title }}
    {% assign printed = true %}
  {% endif %}

  {% if course.professor and course.professor != "" %}
    {% if printed %} • {% endif %}{{ course.professor }}
  {% endif %}
  <br>

                  {% if course.topic and course.topic != "" %}
                    <small><b>Area:</b> {{ course.topic }}</small><br>
                  {% endif %}

                  {% if course.textbook and course.textbook != "" %}
                    <small class="d-flex">
                      <span class="me-2">Textbook/Reference:</span>
                      <span class="d-block">
                        {% assign books = course.textbook | split: "<br>" %}
                        {% for book in books %}
                          {{ book }}<br>
                        {% endfor %}
                      </span>
                    </small>
                  {% endif %}

                  {% if course.note and course.note != "" %}
                    <small class="text-muted">{{ course.note }}</small>
                  {% endif %}
                </p>
              {% endfor %}
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}

  </div>
</div>
