---
layout: default
---

<div class="row g-5 mb-5">
  
  <div class="col-md-6">
    <p style="line-height: 1.25"><h2 class="fw-bold">YeongHyeon Na</h2></p>
    <p style="line-height: 1.25"><h5 class="fw-bold">Freshman at <a href="https://www.kaist.ac.kr" style="text-decoration-line: none"><font color="#1487C8">KAIST</font></a></h5></p>
    <br>
    {{ content }}
  </div>

  <div class="col-md-6">
    <img src="{{ site.github.url }}/assets/img/home.png" alt="Home" width="100%">
    <p class="text-muted mt-2" style="font-size: 0.9rem; text-align: right;">Location: Yosemite National Park </p>
  </div>
  
</div>
